/* here i am */

.etch-element-with-component-props:focus:after {
	outline-color: var(--wp-block-synced-color) !important;
}

.is-outline-mode
	.block-editor-block-list__block:not(.remove-outline).is-hovered:not(
		.is-selected
	):after,
.is-outline-mode
	.block-editor-block-list__block:not(.remove-outline):not(.rich-text):not(
		[contenteditable='true']
	).is-selected:after {
	border-radius: inherit;
}

/* Credit to Zack */
/* This removes the max-width on post content when setting Show Template to true */
.wp-block-post-content:not(.is-root-container) {
	max-width: 100% !important;
}
